.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #6a68b9;
}

.verde-limao {
    color: #a1b914;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}